body{
  background-color: rgb(189, 254, 250);
  /* font-family: monospace; */
  font-family: sans-serif;
}
h1{
  text-align: center;
  font-size: 3rem;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-block: 3rem;
}

.input input{
  padding: 0.8rem 2rem;
  width: 18vw;
  border: .5px solid rgb(165, 163, 174);
  border-radius:0.3rem;
  
}
.input button{
  padding: 0.8rem 2rem;
   border-radius:0.3rem;
   border:none;
   background-color: rgb(65, 65, 225);
   color: azure;
   font-weight: 600;
}
.input button:hover{
  background-color: rgb(11, 11, 220);
  transition: ease-in-out;
  transform: scale(104%);
  cursor:pointer;
  
}

.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem ;
  
}
.card{
  margin-top: 3rem;
  background-color: azure;
  padding: 2rem 5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 12px rgba(3, 15, 1, 0.25) ;
}
.card h2{
  margin-bottom: 1.6rem;
}


.loader {
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
  margin-left: 1rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}